@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
  scroll-behavior: smooth;
}

.img{
	transition: transform .2s;
}

.img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2.5); 
}
